*{
    margin: 0;
    padding: 0;
}
.social{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    background-color: rgb(211, 219, 226);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    box-shadow: 1px 4px 3px 2px #515358;
    margin: 1px 10px;
}
a i{
    transition: all .3s linear;
}
a:hover i{
    transform: scale(1.5);
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #dd2a7b;
}
.fa-twitter{
    color: #00acee;
}
.fa-linkedin{
    color: #0e76a8;
}
.fa-youtube{
    color: #c4302b;
}
.fa-whatsapp{
    color: #25d366;
}